global
    log stdout format raw local0
    maxconn 2048
    user abc
    group abc

defaults
    mode http
    log global
    option httplog
    option dontlog-normal
    option http-keep-alive
    timeout connect 5s
    timeout http-request 10s
    timeout http-keep-alive 1s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h

frontend local_relay
    bind 0.0.0.0:_LOCAL_RELAY_PORT
    bind [::]:_LOCAL_RELAY_PORT
    acl allowed_relay_path path_beg /video/:/transcode/session/ /livetv/
    http-request deny deny_status 404 unless allowed_relay_path

    default_backend pms

backend pms
    server pms 127.0.0.1:_PMS_PORT check
